@tailwind base;
@tailwind components;
@tailwind utilities;

/* Transition colors for all the elements: */

* {
  @apply transition-colors duration-200;
}

/* Scrollbar styling: */

* {
  scrollbar-width: thin;
  scrollbar-color: #a1a1aa #f4f4f5;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1aa;
  border-radius: 4px;
}

*::-webkit-scrollbar, *::-webkit-scrollbar-corner, *::-webkit-scrollbar-track {
  background-color: #f4f4f5;
}

@media (prefers-color-scheme: dark) {
  * {
    scrollbar-color: #3f3f46 #71717a;
  }

  *::-webkit-scrollbar-thumb, *::-webkit-scrollbar-thumb:hover {
    background-color: #3f3f46;
  }

  *::-webkit-scrollbar, *::-webkit-scrollbar-corner, *::-webkit-scrollbar-track {
    background-color: #71717a;
  }
}
